body {
    width: 360px;
    margin: 0 auto;
}

.lettersBox {
    width: 100%;
    text-align: center;
}

.lettersBox div {
    font-size: 24px;
    font-weight: bold;
    margin: 0 2px;
    display: inline;
    color: red;
}

.lettersBox a, a:hover, a:visited {
    text-decoration: none;
    color: blueviolet;
}

.hints li {
    font-size: 18px;
    color: darkgreen;
    text-transform: capitalize;
}

.statusBox {
    width: 100%;
    text-align: center;
}

.win {
    color: deeppink;
}

.lost {
    color: chocolate;
}

.lost span {
    color: forestgreen;
}