<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hangman Game...</title>

    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

    <img th:src="@{'/img/' + ${hangman.getFailedAttempts()} + '.png'}"/>
    <h1 style="letter-spacing: 10px;" th:text="${hangman.getWordStatus()}"/>

    <div class="statusBox" th:switch="${hangman.currentStatus().toString().equals('Won')}">
        <h2 class="win" th:case="${true}">
            Congratulations
            <br/> You Won!!!
            <br/> <a href="/">New Game</a>
        </h2>
    </div>

    <div class="statusBox" th:switch="${hangman.currentStatus().toString().equals('Lost')}">
        <h2 class="lost" th:case="${true}">
            Unfortunately you lost.
            <br/> Correct word was:
            <br/> <span th:text="${hangman.getWordToGuess()}"/>
            <br/> <a href="/">New Game</a>
        </h2>
    </div>

    <h3>Hints:</h3>
    <ol class="hints">
        <li th:each="hint : ${hints}" th:text="${hint}"/>
    </ol>

    <h3>Alphabet:</h3>
    <div class="lettersBox">
        <div th:each="letter : ${alphabet.allLetters()}"
             th:switch="${hangman.getChosenLetters().contains(letter)}">
            <a th:case="${false}" th:href="@{'/game?chosenLetter=' + ${letter}+'&gameId=' + ${gameId}}"
               th:text="${letter}"/>
            <span th:case="${true}" th:text="${letter}"/>
        </div>
    </div>

</body>
</html>